extends layout
block content
  .row.banner
    .col-12
      h1=title
  .row
    .col-12.col-lg-8
      p
        | IAMixtapes was created to facilitate the publishing of faith music glorifying the kings name
        | <br /><br />
        | Lorem ipsum dolor sit amet, aconsectetur adipiscing elite.  Nuncsed lorem ac nisi dignissm accumsan.